/* historial.css - MODO DARK & GUÍA DE COLOR */

.history-wrapper {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.history-title {
    color: var(--color-primary); /* Azul (Título Sección) */
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 2rem;
}

.history-list {
    width: 100%;
    max-width: 800px; 
}

/* LA TARJETA DEL PEDIDO */
.order-card {
    background-color: var(--bg-card); /* Fondo Oscuro */
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
    /* Borde Izquierdo Azul (Estructura) */
    border-left: 8px solid var(--color-primary); 
    transition: transform 0.2s;
}

.order-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.order-id {
    font-weight: bold;
    color: var(--color-primary); /* Azul */
    font-size: 1.1rem;
}

.order-date {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.order-total {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--color-accent); /* Precio -> NARANJA */
}

/* Botón del Ticket */
.btn-ver-ticket {
    background-color: var(--color-primary); /* Botón Info -> Azul */
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background 0.2s;
}
.btn-ver-ticket:hover {
    background-color: var(--color-primary-dark);
}

.divider {
    border: 0;
    height: 1px;
    background: #333; /* Separador oscuro */
    margin: 15px 0;
}

/* LISTA DE PRODUCTOS MINIATURA */
.order-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mini-item {
    display: flex;
    align-items: center;
    background-color: #252525; /* Fondo item */
    padding: 10px;
    border-radius: 10px;
}

.mini-img {
    width: 40px; height: 40px;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;
    background: transparent;
    display: flex; justify-content: center; align-items: center;
}
.mini-img img { width: 100%; height: 100%; object-fit: contain; }

.mini-details { flex-grow: 1; }
.mini-name { display: block; font-weight: bold; color: var(--text-main); font-size: 0.95rem; }
.mini-qty { font-size: 0.85rem; color: var(--text-secondary); }

/* Botón recompra */
.btn-mini-buy {
    background-color: transparent;
    border: 1px solid var(--color-accent);
    color: var(--color-accent);
    width: 30px; height: 30px;
    border-radius: 50%;
    display: flex; justify-content: center; align-items: center;
    text-decoration: none; font-weight: bold;
    transition: all 0.2s;
}
.btn-mini-buy:hover {
    background-color: var(--color-accent);
    color: white;
}